 .CartDetails {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.CartDetails__info {
  padding-left: 20px;
}

.CartDetails_info > button {
  
  background: orange;
  border: 1px solid;
  margin-top: 10px;
  border-color: orange;
  color: #111;
  margin-top: 10px;
}

.CartDetails_image {
  
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.CartDetails_title {
  font-size: 17px;
  font-weight: 800;
}

.CartDetails_info .Quantity {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.Q_btnPlus {
  background-color: green;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  
}
.Q_btnMinus {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

.Q_count {
  width: 3rem;
  height: 2rem;
  border: 0.141rem solid orange;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  text-align: center;
  text-transform: capitalize;
  color: orange;
  margin: 0 1rem;
  border-radius: 0.5rem;
  outline: none;
}

/* .CartItemQuantityContainer{

    border-radius: 7px;
  
    background-color: #F0F2F2; 
    padding: 8px;
    box-shadow: 0 2px 5px rgba(15,17,17,.15);
    
    
}

/* .CartItemQuantityContainer .focus{
    outline: none;
} */



 

  

