.checkout {
  display: flex;
  padding: 20px;
  background-color: rgb(251, 249, 249);
  height: max-content;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}


@media screen and (max-width:411px){
  .checkout{
    flex-direction: column;
  }
}


