.ProductDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 7px;
  padding: 7px;
  width: 100%;
  max-height: 500px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}

.ProductDetails__rating {
  display: flex;
}

.ProductDetails img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin: 15 px;
}

.ProductDetails__row {
  height: 100%;
  margin-bottom: 15px;
}

.ProductDetails__price {
  margin-top: 5px;
  margin-bottom: 5px;
}
button {
  font-weight: 700;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1.5rem;
  border-radius: 1rem;
  color: white;
  border: 1px solid orange;
  background-color: orange;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: black;
  color: orange;
}
