
.category {
    margin-top: 1.5rem;
    margin-left: 40%;
    display: flex;
    

    
}
.category Button {
 
    background-color: #FFA500;
    margin-left: 10px;
    color: black;
    border: none;
    cursor: pointer;
    
    
  }
  
  

   